LeadScreenAssignment/obj/Debug
LeadScreenAssignment/obj
.vs
LeadScreenAssignment/LeadScreenAssignment/obj
LeadScreenAssignment.Core/bin
LeadScreenAssignment.Core/obj
LeadScreenAssignment.Persistence/bin
LeadScreenAssignment.Persistence/obj
LeadScreenAssignment/bin
LeadScreenAssignment.Business/obj
LeadScreenAssignment.Business/bin
FileDatabase/bin
FileDatabase/obj
